* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@page {
  margin: 0.4in 0.5in;
  size: letter;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9.5pt;
  line-height: 1.4;
  color: #333;
  background: #fff;
}

/* Header / Name */
h1 {
  font-size: 18pt;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.15em;
  letter-spacing: -0.5px;
}

/* Section headers */
h2 {
  font-size: 10pt;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 1.5px solid #000;
  padding-bottom: 0.15em;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

/* Company names */
h3 {
  font-size: 9.5pt;
  font-weight: 600;
  color: #000;
  margin-top: 0.35em;
  margin-bottom: 0;
}

hr {
  display: none;
}

p {
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  padding-left: 1.1em;
  margin: 0.1em 0 0.2em 0;
}

li {
  margin-bottom: 0.08em;
}

/* Flex containers for job titles with dates */
div[style*="display:flex"] {
  margin: 0;
  font-size: 9.5pt;
}

/* Tech stacks in italics */
p > em, div + p > em {
  font-size: 8.5pt;
  color: #555;
}

/* Strong tags in skills */
strong {
  font-weight: 600;
}

.web-only {
  display: none;
}

/* Education list styling */
div[style*="display:flex"] > * {
  margin: 0;
}
