*{
  margin:0;
  padding:0;
}
@page{
  margin:0;
  padding:0;
}
body {
  font-family: 'Fira Code', monospace;
  font-size: 10pt;
  margin: 0 0.8in;
  padding-top: 0.3in;
  padding-bottom: 0.3in;
  color: #000;
  background: #fff;
}

hr {
  border: none;
  border-top: 1px solid #000;
  margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #000;
  font-family: 'Fira Code', monospace;
}

h1 {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 12pt;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 11pt;
  font-weight: bold;
  margin-top: 0.4em;
  margin-bottom: 0.1em;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: -1em;
}

.header p {
  font-size: 10pt;
  margin: 0;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 0.5em;
}

.section {
  margin-top: 1em;
}

ul {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  margin-bottom: 0.2em;
}

.contact{
  display: flex;
  gap:10px;
  border-bottom: 1px solid #000;
}
.contact-item{
  margin:5px;
}
.web-only{
  display: none;
}